<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{heroe.nombre}}</h1>
 <ul>
     <li><strong>Nacionalidad:</strong>{{heroe.nacionalidad}}</li>
      {% if heroe.nacionalidad == 'USA' %}
         <li>Es Un Heroe de Habla Ingresa</li>
      {% else %}
         <li>Es Un Heroe de Habla Española</li>
      {% endif %}      
     <li><strong>Poderes:</strong>{{heroe.poderes}}</li>
     <li><strong>Fecha:</strong>{{heroe.fecha}}</li>
 </ul> 
   <div>
       <img src="{{heroe.picture}}" width="300px">
   </div>  

   <p><a href="{{url_for('index')}}">Index</a></p>
</body>
</html>